/***********************************
*   scratcher stylesheet
*   Developer: tragic{media}
***********************************/

/* insert variables here*/
// VARS
$color-bg:#f4f4f4;
$color-body:#000;
$color-header:#222;
$color-link:#000;
$color-link-hover:#333;

$font-body:Arial, Helvetica, sans-serif;
$font-header: Arial, Helvetica, sans-serif;
$font-size-body:12px;
$font-size-header:18px;
$font-size-custom:15px;

$path-fonts:'../fonts/';
$path-img:'../images/';
$path-sprite:$path-img + 'sprite.png';

$size-full:960px;
$size-sidebar:200px;
$size-two-col:824px;
$size-three-col:624px;

/*$canvas-x:620px;
$canvas-y:390px;
*/

$canvas-x:320px;
$canvas-y:330px;
/*  import base structure */
	@import 'base';

/*
* BEGIN: Site Styles
*/

body {
    background:url($path-img + 'bg1.png') 0 0 repeat;
}

header h1 {
    margin-bottom:35px;
    a {
        display:block;
        img {
            @include size(300px, 75px);
            margin:0 auto;
        }
    }
}

body.no-sidebars.node-type-scratch-campaign {
    #header {
        margin-bottom:0;
    }
    #content {
        min-height:330px;
    }
}

#container {
    margin:0 auto;
   // max-width:960px;
    position:relative;
    width:100%;
}

.region-content{
    position:relative;
}

#content-top,
#content-bottom {
    background:#333;
}
#footer {
}

.scratch-box {

    @include transition(2500ms);
    position:absolute;
    left:0;
    top:0;

    /*test*/
    > div {
        display:none;
    }
    > div:first-child {
        display:block;
    }
}

#sindex {
    visibility:hidden;
}

/*vars*/
#nindex,
#imgTop,
#imgBot {
    display:none;
}

#tempAjax,
#interimsg {
    @include transition(800ms, all);
    @include opacity(0);
    //visibility:hidden;
}
#tempAjax.finished,
#interimsg.enabled {
    @include transition(800ms, opacity);
    @include opacity(1);
    //visibility:visible;

}

/*
#interimsg {
    @include delay(2500);
    @include size(100%,100%);
    background:rgba(0,0,0,1);
    position:absolute;
    left:0;
    top:0;
    z-index:-999;
    &.enabled {
        z-index:99;
//       p {display:block;}
    }
    p {
        display:block;
        text-align:center;
        @include font-size(24px, 450px);
        color:#fff;
    }
}*/
#tempAjax {
    @include wrap();
    @include size(680px, 450px);
        z-index:2;
        //margin-bottom:15px;
        position:relative;

    &.expanded #interimsg.enabled {
        @include delay(2500);
        @include transition(800ms, all);
        @include opacity(0);
    }

    &.expanded {
        height:auto;
    }
    &.finished {
        z-index:3;
    }
    p.wlMsg {
        @include font-size(18px, 24px);
        color:#333;
        display:block;
        text-align:center;
    }
    // win-lose images
    img {
        padding:0 0 20px;
    }
}

/* node page layout */
#scratch-container {
    position:relative;

    #scratch-canvas,
    #loading-text {
        @include size($canvas-x, $canvas-y);
        @include transition(2500ms);
        position:absolute;
        left:0;
        top:0;
    }
    #scratch-canvas.enabled,
    #loading-text.enabled {
        z-index:1;
    }
    #scratch-canvas,
    #loading-text {
        z-index:0;
    }
}

/* canvas scratcher */
#scratch-canvas {
    @include transition(2500ms, opacity);
    @include opacity(1);
    z-index:3;
    canvas {
        position:relative;
        z-index:99;
    }
    &.finished {
        @include transition(2500ms, opacity);
        @include opacity(0);
        z-index:2;
    }
}

/* preload container */
#loading-text {
    position:relative;

    &,
    #preloadMsg,
    #preloadScreen {
        @include transition(500ms);
        @include opacity(0);
        background:transparent;

    }

    &.fade-in {

        #preloadScreen {
            @include box-shadow(0,0,5px,2px,#666);
            background:rgba(255,255,255,.6);
        }

        &,
        #preloadScreen,
        #preloadMsg {
            @include transition(500ms, opacity);
            @include opacity(1);
        }
    }

    #preloadScreen {
        @include size($canvas-x, $canvas-y);
    }

    #preloadScreen,
    img {
        position:absolute;
        left:0;
        top:0;
    }

    #preloadMsg {
        //@include border-radius(20px, 20px);
        @include size(100%, 100%);
        background:#111 url($path-img  + 'navy_blue.png') 0 0 repeat;
        //background:url($path-img + 'bg_buttons.png') 0 0 repeat;
        //border:2px solid #444;
        position:absolute;
        left:0;
        top:0;
        z-index:1;
        h4 {
            @include text-shadow(1px, 1px, 0, #666);
            @include font-size(32px, 34px);
            color:#fff;
            font-weight:bold;
            padding:30px 30px 5px;
            text-align:center;
            text-transform:uppercase;
        }
        #bg_instructions {
            @include size(340px, 180px);
            background:url($path-img + 'bg_instructions.png') 0 0 no-repeat;
            display:block;
            margin:0 auto 20px;
        }
        #scratch-start {
            @include wrap();
            @include font-size(34px, 45px);
            @include size(150px, 45px);
            @include box-shadow(0, 0, 10px, 2px, #000);
            @include border-radius(2px, 2px);
            background:url($path-img + 'bg_buttons.png') 0 0 repeat;
            color:#479348;
            display:block;
            font-weight:bold;
            margin:0 auto;
            text-align:center;
            text-transform:uppercase;
            &:hover {
                background:white;
                color:#3c6f7e;
                cursor:pointer;
            }
        }
    }

    p {
        @include font-size(36px, 450px);
        @include transition(500ms, color);
        color:transparent;
        font-style:normal;
        text-align:center;
        width:100%;
        z-index:1;
    }

    img {
        z-index:0;
    }
}

// node output block
#block-scratchandwin-scratch-block {
    background:rgba(0,0,0,.9);
    padding-bottom:15px;
    @include transition(500ms, opacity);
    //@include opacity(0);

    h2 {
    display:none;
    }
    > img {
        width:100% !important;
        height:auto !important;
    }

    &.fade-in {
        @include transition(500ms, opacity);
        @include opacity(1);
    }

    form {
        padding:15px 0;
    }

    .form-type-checkbox {

        .ui-btn-inner {
            border:0;
            color:#fff;
            text-shadow:none;
        }
    }

    .form-type-textfield {
        margin:0 0 5px;
        input.ui-body-c {
            color:#222;
        }

        label {
            height:0;
            overflow:hidden;
            visibility:hidden;
        }
    }
}
p.wlMsg {
    color:#fff;
    width:90%;
    margin:0 auto;
    font-size:14px;
    line-height:17px;
}

.ui-body-c, .ui-overlay-c{
    color:#fff;
    text-shadow:none;
}

/* header image block */
#block-views-campaign-listing-block-1,
#block-views-campaign-listing-block-2 {
    .views-row {
        margin:0;
    }
//    padding-top:25px;
}
/* win lose pages */

/* claim your prize cta */
#cta_claim_prize {

}

/*homepage preview */
.front .view-campaign-listing.scratch-block {
    .views-field-title {
        @include font-size(24px, 26px);
        background:rgba(0,255,6,.5);
        padding: 5px 0;
        text-align:center;
        text-transform:uppercase;
        a {
            @include text-shadow(0,0,1px,#999);
            color: #FFF;
            font-style:italic;
            font-weight:bold;
        }
    }
}

/* temp drupal hides */
.field-name-field-age-verification,
.field-name-field-age,
.contextual-links-wrapper.contextual-links-processed,
#tempAjax h1 {
    display:none;
}




/* jQuery form overrides */

#content form {
    margin:0 auto;
    padding-bottom:15px;
    width:90%;
}

.block-scratchandwin .content form {
    .user-dob {
        @include wrap();
        .form-item {
            float:left;
            height:102px;
            line-height:90px;

            margin:0 0 15px;
            width:92px;
            &.form-item-field-dob-day {
                margin:0 2% 15px;
            }
        }
    }
    label {
        display:none;
    }
    .ui-btn {
        @include border-radius(20px, 20px);
        background:rgba(255,255,255,.2);
        border:0;
        color:#222;
        margin:0;
        text-shadow:none;
        &:hover, &:focus {
        background:rgba(255,255,255,.4);
            color:#ccc;
            border-bottom:1px solid #222;
            border-right:1px solid #333;
            text-shadow:0px 1px 2px #222;

        }
    }
    .ui-btn-inner {
        text-transform:uppercase;
        font-size:38px;
        font-weight:normal;
        padding:0;
        text-align:center;
        &.error {
            border:1px solid #fff;
            color:#fff;
        }
    }
    .ui-icon {
        display:none;
    }
    .ui-submit {
     //   width:215px;
       // height:35px;
        .ui-btn-inner,
        .ui-btn-text {
        //    font-size:15px;
          //  line-height:35px;
        }
    }
    .ui-focus, .ui-btn:focus {
        box-shadow:none !important;
    }
}
.ui-checkbox label {
    border:0;
}

#matchdate {
    visibility:hidden;
}

.node-type-scratch-campaign {
    #header,
    #footer {
        img {
            max-width:100% !important;
            height:auto !important;
        }
    }
}