/***********************************
*   scratcher stylesheet
*   Developer: tragic{media}
***********************************/

/* insert variables here*/
// VARS
$color-bg:#f4f4f4;
$color-body:#000;
$color-header:#222;
$color-link:#000;
$color-link-hover:#333;

$font-body:Arial, Helvetica, sans-serif;
$font-header: Arial, Helvetica, sans-serif;
$font-size-body:12px;
$font-size-header:18px;
$font-size-custom:15px;

$path-fonts:'../fonts/';
$path-img:'../images/';
$path-sprite:$path-img + 'sprite.png';

$size-full:960px;
$size-sidebar:200px;
$size-two-col:824px;
$size-three-col:624px;

/*  import base structure */
	@import 'base';

/*
* BEGIN: Site Styles
*/

header h1 {
    margin-bottom:35px;
    a {
        display:block;
        img {
            @include size(300px, 75px);
            margin:0 auto;
        }
    }
}

.img_win,
.img_lose {

}

#container {
    margin:0 auto;
    max-width:960px;
    position:relative;
    width:100%;
}
.front .region-content{
    display:none;
}

.front .ajax-result .region-content {
    display:block;
    padding-left:5px;
}
/*test*/
.scratch-box {
    > div {
        display:none;
    }
    > div:first-child {
        display:block;
    }
}

.scratch-box {
    @include transition(2500ms);
    position:absolute;
    left:0;
    top:0;
}


#tempAjax,
#interimsg {
    @include transition(800ms, all);
    @include opacity(0);
    //visibility:hidden;
}
#tempAjax.finished,
#interimsg.enabled {
    @include transition(800ms, opacity);
    @include opacity(1);
    //visibility:visible;

}

#interimsg {
    @include delay(3500);
    background:rgba(0,0,0,1);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:-999;
    &.enabled {
        z-index:99;
        p {display:block;}
    }
    p {
        display:none;
        text-align:center;
        @include font-size(24px, 450px);
        color:#fff;
    }
}
#tempAjax {
    @include wrap();
    @include size(680px, 450px);
    z-index:2;
    &.finished {
        z-index:3;
    }
    p.wlMsg {
        @include font-size(18px, 24px);
        color:#333;
        display:block;
        text-align:center;
    }
    // win-lose images
    img {
        padding:0 0 20px;
    }
}

#scratch-canvas {
    @include transition(2500ms, opacity);
    @include opacity(1);
    z-index:3;
    canvas {
        position:relative;
        z-index:99;
    }
    &.finished {
        @include transition(2500ms, opacity);
        @include opacity(0);
        z-index:2;
    }
}

/* win lose pages */

/* claim your prize cta */
#cta_claim_prize {

}

/* temp drupal hides */
.contextual-links-wrapper.contextual-links-processed,
#tempAjax h1 {
    display:none;
}